<link rel="import" href="/bower_components/paper-button/paper-button.html">
<polymer-element name='clip-button'>
    <template>
        <div>
            <paper-button id="button" roll="button" aria-disabled="" style="pointer-events: none;display:inline-block;margin-top: 65px;">
                <core-label> Select Clip:</core-label>
            </paper-button>
            <paper-button id='startButton' on-tap="{{handleStartclip}}" style="display:{{startclickbutton}}" on-load-player="{{playerload}}" >
                StartClip
            </paper-button>
            <paper-button id='endButton' on-tap="{{handleEndclip}}" style="display:{{endclickbutton}}">
                EndClip
            </paper-button>
            <paper-button id='resetButton' on-tap="{{handleResetclip}}" style="display:{{resetclickbutton}}">
                Reset
            </paper-button>
            <paper-button id='shareButton' on-tap="{{handleshareclip}}" style="display:{{shareclickbutton}}">
                Share
            </paper-button>
        </div>
        <div>
        <label for="timevalue" style="margin-left:15px;">Time:</label>
        	<input id="timevalue" type="text" placeholder="add value there.. " style="margin-left:10px;">
        </div>
    </template>
    <script>
    Polymer('clip-button', {

        startclickbutton: 'inline-block',
        endclickbutton: 'none',
        resetclickbutton: 'none',
        shareclickbutton: 'none',
        clipplayer:null,

        handleStartclip: function(e, detail, sender) {
            this.clipplayer= detail.message;


            if (this.startclickbutton == 'inline-block') {
                this.startclickbutton = 'none';
                this.shareclickbutton = 'none';
                this.resetclickbutton = 'inline-block';
                this.endclickbutton = 'inline-block';
                console.log();
            }
        },
        handleEndclip: function() {
            if (this.endclickbutton === 'inline-block') {
                this.endclickbutton = 'none';
                this.resetclickbutton = 'none';
                this.startclickbutton = 'inline-block';
                this.shareclickbutton = 'inline-block';
                console.log('EndClip');
            }

        },
        handleResetclip: function() {
            if (this.resetclickbutton === 'inline-block') {

                this.endclickbutton = 'none';
                this.resetclickbutton = 'none';
                this.shareclickbutton = 'none';
                this.startclickbutton = 'inline-block';
            }
        },
        handleshareclip: function() {
        	if(this.startclickbutton==='inline-block')
            this.endclickbutton = 'none';
            this.resetclickbutton = 'inline-block';
            this.shareclickbutton = 'none';
            this.startclickbutton = 'none';

        },
        playerload:function(e, detail, sender){

            this.clipplayer = detail.clipplayer1;
            console.log(this.clipplayer.getCurrentTime());

        }

    });
    </script>
</polymer-element>

<!-- on-load-player="{{playerload}}" -->