<!DOCTYPE html>
<html>

<head>
    <title></title>

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <!--script src="/bower_components/webcomponentsjs/webcomponents.min.js"-->
    </script>
    <link rel="import" href="/bower_components/firebase-element/firebase-element.html">

</head>

<body>

    <polymer-element name="firebase-test">
        <template>
            
            
 			<firebase-element id="base" location="https://amber-heat-1751.firebaseio.com/" data="{{data}}" keys="{{keys}}">
 			</firebase-element>
 			<h3>Fire base data insert.</h3>
 			<!-- <template repeat="{{key in keys}}">
 			<p>{{key}}:{{data[key]}}</p>
 			</template> -->
 			<input id="inputvalue" value="{{currentvalue}}">
 		
        </template>
        <script>
        Polymer('firebase-test', {
        	   // data:{name:"Sudheer"},
        	   // keys:"name"
        	   
        	   
        });
        </script>
    </polymer-element>

<firebase-test></firebase-test>
</body>

</html>



<!-- resetData:function(){
 				this.data={
 					name:"guru",
 					info:'none',
 					more:{
 						color:'yellow'
 					}
 				};

 			},
 			updateInfo: function(info){
 				this.data.info=info;
 			},
 			updateColor:function(color){
 				this.data.color= color;
 				this.$.base.commitProperty('more');
 			},
 			addEntry: function(value){
 				
 				this.$.base.push({foo:value});
 			}
 -->


